.calendar
	.calendar__body
		.calendar__first-date
			label(for="calendar__first-date") Прибытие
			input.calendar__start(type="text", id="calendar__first-date")
		.calendar__end-date
			label(for="calendar__first-date") Выезд
			input(type="text", id="calendar__end-date")

