.guests
	.guests__header
		span.guests__current Сколько гостей
		span.guests__icon.material-icons-outlined keyboard_arrow_down
	.guests__body
		.guests__item взрослые
			.guests__count 
				button -
				span 0
				button +
		.guests__item дети
			.guests__count 
				button -
				span 0
				button +
		.guests__item младенцы
			.guests__count 
				button -
				span 0
				button +
		.guests__buttons 
			button очистить
			button применить

	script(src='js/app.min.js')