header 
	.header__wrapper 
		.header__container._container
			.header__body 
				.header__logo
					a(href='index.html').header__logo-link 
						img(src="@img/logo.svg", alt="logo")
				.header__menu.menu
					nav.menu__body 
						ul.menu__list 
							li.menu__item 
								a(href='404.html').menu__link О нас
							li.menu__item 
								a(href='404.html').menu__link Услуги
								span.material-icons-outlined keyboard_arrow_down
								ul.menu__sub-list 
									li.menu__sub-item
										a(href='404.html').menu__sub-link Услуга 1
									li.menu__sub-item
										a(href='404.html').menu__sub-link Услуга 2
									li.menu__sub-item
										a(href='404.html').menu__sub-link Услуга 3
							li.menu__item 
								a(href='404.html').menu__link Вакансии
							li.menu__item 
								a(href='404.html').menu__link Новости
							li.menu__item 
								a(href='404.html').menu__link Соглашения
								span.material-icons-outlined keyboard_arrow_down
								ul.menu__sub-list 
									li.menu__sub-item
										a(href='404.html').menu__sub-link 1
									li.menu__sub-item
										a(href='404.html').menu__sub-link 2
									li.menu__sub-item
										a(href='404.html').menu__sub-link 3
				.menu__login.btn.btn-1 
					a(href="login.html") Войти
				.menu__registration.btn.btn-2 
					a(href="registration.html") Зарегистрироваться
						

						