.room-search {
	&__dropdown {
	}
}
.dropdown-guests,
.dropdown-comfort {
	position: relative;
	width: 100%;

	&_button {
	}

	&__header {
		border: 1px solid rgba(31, 32, 65, 0.25);
		cursor: pointer;
		display: flex;
		transition: all 0.3s ease;
	}

	&__current {
		font-size: 14px;
		line-height: 24px;
		padding: 8px;
	}

	&__icon {
		align-items: center;
		display: flex;
		flex-shrink: 0;
		justify-content: center;
		height: 40px;
		margin-left: auto;
		text-align: center;
		width: 40px;
		transition: all 0.3s ease;
	}

	&__body {
		border: 1px solid rgba(31, 32, 65, 0.5);
		background-color: rgba(255, 255, 255, 1);
		border-top: 0;
		display: none;
		left: 0;
		position: absolute;
		right: 0;
		top: 100%;
		transition: all 0.3s ease;
		z-index: 10;
		padding: 8px;
	}

	&__item {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		//cursor: pointer;
		font-size: 12px;
		line-height: 30px;
		margin: 10px 0;
		color: rgba(31, 32, 65, 1);
		font-weight: 700;
		text-transform: uppercase;
		&:hover {
			//background-color: #f2f2f2;
		}
	}

	&__amount {
		display: flex;
		justify-content: space-between;
		button {
			border: 1px solid rgba(31, 32, 65, 0.25);
			border-radius: 50%;
			width: 30px;
			height: 30px;
		}
		span {
			margin: 0 5px 0 5px;
		}
	}

	&__buttons {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin: 15px 0 0 0;
		button {
			font-weight: bold;
			font-size: 12px;
			line-height: 15px;
			text-transform: uppercase;
			color: #bc9cff;
		}
	}
}

.dropdown-guests.is-active,
.dropdown-comfort.is-active {
	transition: all 0.3s ease;
	.dropdown-guests__body,
	.dropdown-comfort__body {
		display: block;
	}
	.dropdown-guests__icon,
	.dropdown-comfort__icon {
		transform: rotate(180deg);
	}
	.dropdown-guests__header,
	.dropdown-comfort__header {
		border: 1px solid rgba(31, 32, 65, 0.5);
	}
}
