@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts/fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "fonts/icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Montserrat";
$fontSize: 14;
//</Шрифт по умолчанию>==========================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1190;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$darkShade100: rgba(31, 32, 65, 1);
$darkShade75: rgba(31, 32, 65, 0.75);
$darkShade50: rgba(31, 32, 65, 0.5);
$darkShade25: rgba(31, 32, 65, 0.25);
$darkShade10: rgba(31, 32, 65, 0.1);
$darkShade5: rgba(31, 32, 65, 0.05);
$purpleColor: rgba(188, 156, 255, 1);
$greenColor: rgba(111, 207, 151, 1);

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
html,
body {
	color: $darkShade75;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	height: 100%;
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 15px;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//Стили текста

h1,
h2,
h3 {
	font-weight: bold;
	color: $darkShade100;
	text-transform: uppercase;
}

h1 {
	font-size: 24px;
	line-height: 29px;
}

h2 {
	font-size: 19px;
	line-height: 23px;
}

h3 {
	font-size: 12px;
	line-height: 15px;
}

a {
	cursor: pointer;
}

@import "buttons";

@import "./libs/jquery-ui";
@import "./libs/datepicker";
@import "./libs/slick";
@import "header";
@import "footer";
@import "home";
@import "404";
@import "catalog";
@import "buttons";
@import "dropdowns";
@import "calendar";
@import "registration";
@import "stars-rating";
@import "room-cart";

//<ОСНОВНОЙ БЛОК>====================================================================================================
.main {
	flex: 1 1 auto;
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

body {
	font-family: $fontFamily;
}

a {
	color: inherit;
}
